*{
    margin: 0;
    padding: 0;
}
.page{
    background-color: #20140a;
}
a{
    text-decoration: none;
}
.container {
    width: 1061px;
    margin: 0 auto;
}
.hovering{
     position: relative;
 }
.logo-orange{
      float: left;
      margin-top: 50px;
      position: absolute;
      top: 0;
      left: 0;
  }
.logo{
    z-index: 1;
    float: left;
    margin-top: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.logo:hover{
    display: none;
}

.logo-text{
    float: right;
}
.logo-img{
    margin-right: 15px;
}
.logo-text-big{
     font-family: monospace;
     color: white;
     font-size: 30px;
     font-weight: bold;
     text-transform: uppercase;
 }
.logo-text-small{
    display: block;
    font-family: monospace;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.logo-text-orange{
     color: #f26522;
 }
.contact-info{
    float: right;
    font-size: 18px;
    text-align: right;
    margin-top: 57px;
}
.contact-info-text{
    display: block;
    color: white;
    font-family: sans-serif;
}

.img-menu{
    margin-top: 45px;
}
.img-menu-item{
    float: left;
    border-top:2px white solid;
    width: calc(100% / 3 - 47px);
    text-align: center;
    margin-right: 70px;
    margin-bottom: 55px;
}
.img-menu-item:nth-child(3){
    margin-right: 0;
}
.img-menu-item:last-child {
    margin-right: 0;
}


.link{
    display: inline-block;
    margin-top: 20px;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
}
.copyright{
    color: white;
    font-size: 12px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 5px;
}
.footer-copyright{
    padding-bottom: 20px;
}

.clear-fix::after{
    content: ' ';
    clear: both;
    display: block;
}
.img-box{
    position: relative;
}
.img-menu-item:hover .hover-box{
    visibility: visible;
}
.img-menu-item:hover .link{
    color: #f26522;
}

/* --------------Hovering style---------------------*/
.hover-box{
    font-family: sans-serif;
    visibility: hidden;
    position:absolute;
    bottom: 0;
    color:white;
    background-color: #f26522;
    height:63px;
width: 100%;
}

.details{
    float:right;
    font-size:14px;
    padding-top:32px;
    margin-right:20px;
    color: white;
}

.details::after{
    content:'';
    border: solid #f8b18f;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
}
.price{
    float:left;
    padding-left:20px;
    padding-top:15px;
}

.from{
    font-size:10px;
}

.euro{
    font-size:20px;
}
