li{
    list-style: none;
}
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
#top-menu{
    background-image: url("../images/img_bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    position: relative;
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
}
.nav-bar{
    position: relative;
    top:30px;
    height: 110px;
    background-color: white;
    display:flex;
    align-items: center;
}
.menu-item{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 50px;
    color:#3e4c4e;
    text-decoration: none;
}
.menu-item:hover{
    color: #14afca;
    cursor: pointer;
}
.company-name{
    cursor: pointer;
    font-size: 35px;
    font-weight: normal;
    margin-left: 180px;
    margin-right: 180px;
    color:#5b666d;
    text-decoration: none;
}
.blue-bold-text{
    color: #14afca;
    font-weight: bold;
    text-transform: uppercase;
}
.shadow{
     background-color: rgba(0,0,0,0.8);
     position: absolute;
     top:0;
     left: 0;
     height: 600px;
     width: 100%;
 }
.slogan{
    font-size: 52px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-top: 170px;
    z-index: 1;
}

#what{
    background-color: #fff;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.what-header{
    color: #14afca;
    font-size: 56px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 15px;
}
.what-subtitle{
    font-weight: bold;
    color:#424f57;
    font-size: 18px;
}
.what-content{
    padding-top: 40px;
    padding-right: 180px;
    padding-left: 180px;
    color:#4f5b62;
    font-size: 16px;
    line-height: 30px;
}
#companies{
    background-image: url("../images/img_bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 715px;
    clip-path: polygon(0 0, 0% 80%, 50% 100%, 100% 80%, 100% 0, 50% 15%);
}
.companies-shadow{
    background-color: rgba(0,0,0,0.8);
    height: 715px;
}
.companies-header{
    text-align: center;
    color: #14afca;
    font-size: 56px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 150px;
}
.companies-subtitle{
    font-size: 18px;
    color:#fff;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 50px;
}
.companies-container{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(2,auto);
    grid-column-gap: 50px;
    grid-row-gap: 100px;
    justify-content: center;
    align-items: center;
}
.companies-adobe{
    padding: 15px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: center;
    align-items: center;
}

#meet-us{
    background-color: #fff;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}
.meet-us-header{
    color: #14afca;
    font-size: 56px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 15px;
}
.meet-us-subtitle{
    font-weight: bold;
    color:#424f57;
    font-size: 18px;
    padding-bottom: 40px;
}
.meet-us-container{
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 80px;

}
.meet-us-description{
    color:#424f57;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    padding-top: 15px;
}

#testimonials{
    background-image: url("../images/img_bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    text-align: center;
    clip-path: polygon(0 0, 0% 80%, 50% 100%, 100% 80%, 100% 0, 50% 15%);
}
.testimonials-shadow{
    background-color: rgba(0,0,0,0.8);
    height: 600px;
}
.testimonials-header{
    padding-top: 200px;
    color: #14afca;
    font-size: 56px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 15px;
}
.testimonials-subtitle{
    font-weight: bold;
    color:#fff;
    font-size: 18px;
    padding-bottom: 40px;
}
.testimonials-content{
    font-style: italic;
    font-size: 16px;
    color:#ada8a8;
    padding-left: 250px;
    padding-right: 250px;
    line-height: 30px;
}
.testimonials-username{
    font-size: 18px;
    color:#fff;
    font-style:italic;
    font-weight: bold;
    padding-top: 20px;
    text-align: right;
    padding-right: 350px;
}

#why{
    background-color: #ffffff;
    text-align: center;
}
.why-header{
    color: #14afca;
    font-size: 56px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 15px;
}
.why-subtitle{
    font-weight: bold;
    color:#424f57;
    font-size: 18px;
    padding-bottom: 40px;
}
.why-content{
    color:#424f57;
    font-size: 30px;
    font-weight: bold;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 100px;
    line-height: 50px;
}
.footer{
    margin-top: 10px;
    margin-bottom: 100px;
    color:#3d3c3c;
    font-size: 14px;
    text-align: center;
}
.footer-content{
    padding-bottom: 15px;
}
.footer-bold-text{
   font-weight: bold;
}

.button-up{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color: #14afca;
    position: fixed;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
    outline: none;
}