body{
    background-image: url("../images/journey.png");
    background-size: cover;
    background-repeat: no-repeat;
}
*{
    margin: 0;
    padding: 0;
}
.journey-page{
    position: relative;
}
.icons{
     position: relative;
     float: right;
     padding-right: 75px;
     padding-top: 18px;
 }
/*-----------SPRITES-------------*/
.sprite {
    background-image: url("../images/spritesheet.png");
    background-repeat: no-repeat;
    display: inline-block;
    padding-right: 28px;
}

.sprite-calendar {
    width: 19px;
    height: 19px;
    background-position: -20px -20px;
}
.sprite-calendar-green {
    position: absolute;
    top:19px;
    left: 0;
    width: 19px;
    height: 19px;
    background-position: -20px -79px;
    visibility: hidden;
}
.sprite-forum {
    width: 28px;
    height: 20px;
    background-position: -20px -138px;
}

.sprite-forum-green {
    position: absolute;
    top: 18px;
    left:51px;
    width: 28px;
    height: 20px;
    background-position: -20px -198px;
    visibility: hidden;
}

.sprite-journey {
    width: 20px;
    height: 20px;
    background-position: -20px -258px;
}

.sprite-journey-green {
    position: absolute;
    top:18px;
    left:111px;
    width: 20px;
    height: 20px;
    background-position: -20px -318px;
    visibility: hidden;
}
/*-----------SPRITES-------------*/
.sprite-first{
    display: inline-block;
}
.sprite-second{
    display: inline-block;
}
.sprite-third{
    display: inline-block;
}
.sprite-first:hover .sprite-calendar-green{
    visibility:visible;
}
.sprite-second:hover .sprite-forum-green{
    visibility:visible;
}
.sprite-third:hover .sprite-journey-green{
    visibility:visible;
}
.nav-bar{
    background-color: rgba(0,0,0,0.5);
    height: 56px;
    color: white;
}
.site-logo{
    font-family: sans-serif;
    font-weight: bold;
    font-size:20px;
    text-transform: uppercase;
    padding-left: 152px;
    padding-top: 22px;
    float: left;
}
.site-logo:hover{
    color: #3cb878;
}
.welcome{
    font-family: sans-serif;
    display: inline-block;
    font-size: 14px;
}
.welcome::before{
    content:"";
    display: inline-block;
    border-left: 1px solid rgba(255,255,255,0.4);
    height: 19px;
    padding-left: 24px;

}

.form-container{
    width: 444px;
    height: 613px;
    background-color: white;
    border-radius: 3px;
    font-family: sans-serif;
    position: absolute;
    left: calc(50% - 222px);
    margin-top: 65px;
    margin-bottom: 65px;
}
.sign-up{
    margin-left: 62px;
    margin-bottom: 32px;
}

.form-log-in{
    float: right;
    padding-top: 33px;
    padding-right: 60px;
    padding-bottom: 15px;
    font-weight: 500;
}
.form-sign-up{
    display: inline-block;
    padding-top: 29px;
    padding-left: 60px;
    padding-bottom: 15px;
}

.facebook-button{
    display: inline-block;
    float: left;
    background-color: #305db8;
    border: none;
    color: white;
    width: 157px;
    height: 46px;
    border-radius: 3px;
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
    margin-left: 60px;
    position: relative;
}
.facebook-button:hover{
    background-color: #264b96;
}
.facebook-logo{
    position: absolute;
    top:10px;
    left: 20px;
    font-size: 23px;
    font-weight: bold;
    font-family: sans-serif;
}
.facebook-logo::after{
    position: absolute;
    top:-1px;
    left: 23px;
    content: "";
    display: inline-block;
    border-left: 1px solid #2b54a5;
    height: 28px;
}
.facebook-text{
    position: absolute;
    top:15px;
    left:65px;
}
.google-button{
    text-align: center;
    display: inline-block;
    float: right;
    background-color: #df4a32;
    border: none;
    color: white;
    width: 157px;
    height: 46px;
    border-radius: 3px;
    font-size: 16px;
    font-family: sans-serif;
    margin-right: 60px;
    position: relative;
}
.google-button:hover{
    background-color: #c3412c;
}
.google-logo{
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    position: absolute;
    top:13px;
    left:17px;
}
.google-logo::after{
    content: "";
    display: inline-block;
    border-left: 1px solid #c8422d;
    height: 30px;
    position: absolute;
    top:-5px;
    left:35px;
}
.google-text{
    position: absolute;
    top: 15px;
    left: 80px;
}
.or{
    color: #848484;
    font-family: sans-serif;
    font-size: 14px;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 18px;
}
.or::before{
    content: "";
    display: inline-block;
    border-top: 1px solid #eaeaea;
    width: 150px;
}
.or::after{
    content: "";
    display: inline-block;
    border-top: 1px solid #eaeaea;
    width: 150px;
}
.create-account-btn{
    background-color: #3cb878;
    color: white;
    font-size: 16px;
    border:none;
    border-radius: 3px;
    width: 322px;
    height: 46px;
}
.create-account-btn:hover{
    background-color: #329a65;
}
.form-items{
    width: 322px;
    height: 46px;
    margin-bottom: 9px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    outline: none;
    padding-left: 18px;
}

.form-items::placeholder{
    font-size: 14px;
    color: #bebebe;
}
.form-items:focus{
    box-shadow: 3px 3px 5px #d6d6d6;
}
.form-header{
    position: relative;
}
.square {
    height: 18px;
    width: 18px;
    background-color: #3cb878;
    position: absolute;
    top: 35px;
    left: 0;
}
.check-box{
    margin-top: 13px;
    margin-bottom: 28px;
}
/*------------------------------*/
.form-checkbox {
    -webkit-appearance: none;
}
.form-checkbox-label {
    position: relative;
}

.form-checkbox-label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    margin-right: 10px;
}

.form-checkbox-label::after {
    content: 'L';
    font-family:sans-serif;
    transform: scaleX(-1) rotate(-40deg);
    position: absolute;
    left: 7px;
    bottom: 5px;
    font-size: 15px;
    font-weight: 900;
    color: #3cb878;
    opacity: 0;
}

.form-checkbox:checked+.form-checkbox-label::after {
    opacity: 1;
}
/*-----------------------------*/

.green-text{
    color: #3cb878;
}
.green-text:hover{
    text-decoration: underline;
}

.clear-fix::after{
    content: '';
    clear:both;
    display: block;
}
