@import "fonts.css";
p{
    margin: 0;
}
table, td, th{
    border: 1px solid #d7d8db;
    border-collapse: collapse;
    font-family: arimo, sans-serif;
}
table{
    width: 1140px;
    height: 680px;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    color: #6f6f6f;
    background-color: #f2f2f2;
}
tr:nth-child(even) {
background-color:#e3e3e3;
}
.table-container{
    display: inline-block;
    border: 25px solid #3a4965;
}
.header-bg {
background-color: #fafafa;
}
.header-text-big{
    font-size: 30px;
color:#484848;
}
.header-text-small{
    font-size: 18px;
    color: #484848;
}
.standard{
    border: 1px solid #89c331;
    background-color: #89c331;
    color: white;
    font-weight: bold;
    font-size: 24px;
}
.ultimate{
    border: 1px solid #f04a56;
    background-color: #f04a56;
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.premium{
    border: 1px solid #20807c;
    background-color: #20807c;
    color: white;
    font-weight: bold;
    font-size: 24px;
}
.price-per-month{
    position: relative;
}
.price{
    font-size: 60px;
    font-weight: bold;
    color: #484848;
}
.coins{
    position: absolute;
    top:8px;
    right: 113px;
    font-weight: bold;
    font-size: 24px;
    color: #484848;
}
.per-month{
    color: #484848;
    font-size: 18px;
}

.buttons{
    display: block;
    text-decoration: none;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    width: 192px;
    height: 49px;
    font-size: 16px;
    color: #ffffff;
    border: none;
    border-radius: 3px;
}
.button-value{
    padding-top: 16px;
}
.contact-us-btn{
    background: linear-gradient(to bottom, #484848, #404040);
}
.standard-btn{
    background: linear-gradient(to bottom, #89c331, #79b027);
}
.ultimate-btn{
    background: linear-gradient(to bottom, #f04a56, #df3a46);
}
.premium-btn{
    background: linear-gradient(to bottom, #20807c, #16736f);
}

.button-cell-bg{
    background-color: #eeeeee;
}
.fas{
 font-size: 24px;
    padding-right: 10px;
}
.far{
    font-size: 24px;
    padding-right: 10px;
}
.buttons:hover{
 transform: scale(1.3,1.3);
}