body {
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.star-wars{
    display: flex;
    justify-content: center;
    height: 800px;
    perspective: 200px;
    color: #ffce0a;
    font-family: sans-serif;
    font-size: 100px;
    font-weight: 700;
    text-align: justify;
}
.star-wars-animation{
    position: relative;
    transform-origin: 50% 100%;
    animation: star-wars-animation 30s linear infinite;
}

@keyframes star-wars-animation {
    0% {
        top: 0;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -5000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}
.center{
    text-align: center;
}