.main{
    padding: 60px 100px 30px;
    width: 1280px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.logo-text{
    font-size: 80px;
    color: black;
}
.blue-text{
    color: #4bcaff;
}
.upper-menu{
    text-align: center;
    background-color:#35444f;
    height: 69px;
    color: white;
}

ul.upper-menu li{
    display: inline-block;
    font-size: 24px;
    padding: 26px 42px 15px;
}
.upper-menu-element:hover{
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
    cursor: pointer;
}
.side-menu{
    display: inline-block;
    color: #495863;
    border: 1px rgb(53, 68, 79) solid;
    width: 345px;
    height: 400px;
    vertical-align: 195px;
}
ul.side-menu li{
    font-size: 30px;
    padding: 23px 43px;
}
.side-menu-element:hover{
    padding-left: 70px;
    padding-right: 43px;
    background-color:#dbdbdb;
    color:#1d1d1d;
    cursor: pointer;
}
.picture-block {
    display: inline-block;
    border: 1px solid #35444f;
    width: 885px;
    height: 529px;
    margin-left: 42px;
    margin-top: 50px;
    margin-bottom: 34px;
    position: relative;
}
.logo-img{
    position: absolute;
    top: 73.5px;
    left: 282.5px;

}
.content{
    margin-left: 426px;
    font-size: 18px;
}
.footer{
    display: inline-block;
    background-color: #b4b7ba;
    margin-top: 34px;
    width: 1280px;
    height: 69px;
}
.footer-menu{
    margin-left: 44px;
}
ul.footer-menu li{
    display: inline-block;
    font-size: 28px;
    color:#0c1927;
    padding-top:22px;
    padding-bottom: 21px;
    padding-right: 20px;
}
.footer-element.footer-menu-element:hover{
    color:#3a85a7;
    text-decoration: underline;
    cursor: pointer;
}
.footer-element.copyright{
    font-size: 24px;
    margin-right: 34px;
    margin-left: 180px;
}
/******************************************************************************************************/
.flex{
    display: flex;
    justify-content: space-between;
}
.change-theme{
    align-self: center;
    border: none;
    background-color: #35444f;
    color: #dbdbdb;
    font-size: 30px;
}
.change-theme-new{
    background-color: #cc6699;
    color: white;
}
.pink-text{
     color:  #ff3399;
 }
.new-blue-text{
    color: #3366ff;
}
.upper-menu-new{
     background-color:#cc6699;
     color: white;
 }
.upper-menu-element-new:hover{
    background-color: #ac3973;
    border-left: 1px solid white;
    border-right: 1px solid white;
    cursor: pointer;
}
.side-menu-new{
    color: #3366ff;
    border: 1px solid #3366ff;
}
.side-menu-element-new:hover{
    padding-left: 70px;
    padding-right: 43px;
    background-color:#3366ff;
    color:white;
    cursor: pointer;
}
.footer-new{
    background-color: #d98cb3;
}
.footer-menu-element.footer-menu-element-new:hover{
    color:white;
    text-decoration: underline;
    cursor: pointer;
}
.picture-block-new{
    border: 1px solid #3366ff;
}