*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
li{
    list-style: none;
    font-size: 15px;
    text-transform: uppercase;
    padding-right: 40px;
}
.top-menu{
    display: flex;
    background-color: #1d2124;
    height: 70px;
    color: white;
    align-items: center;
}
.nav-bar{
    display: flex;
    justify-content:center;
}
.logo-text{
    font-size: 22px;
    font-weight: bold;
    padding-left: 10px;
}
.logo{
    align-self: flex-start;
}
.search{
    justify-self: flex-end;
}

.logo-img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.search-img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.black-square{
    background-color: #1a1d20;
    width: 70px;
    height: 70px;
    position: relative;
}
.latest-news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/img-header-bg.jpeg");
    background-attachment: fixed;
    background-position: 0 -325px;
    background-size: cover;
    height: 350px;
}
.latest-news-header{
    color: white;
    font-size: 27px;
    font-weight: normal;
    padding-bottom: 45px;
}
.latest-news-buttons{
    display: flex;
}
.subscribe-btn{
    width: 170px;
    height: 55px;
    background-color: #89ca62;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 3px;
    color: white;
    margin-right: 20px;
    outline: none;
}
.best-articles-btn{
    width: 170px;
    height: 55px;
    background-color: #14b9d5;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 3px;
    color: white;
    outline: none;
}
.most-popular-posts{
    background-color: #f2f2f2;
}
.most-popular-posts-header{
    font-size: 27px;
    color: #18b4cf;
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.popular-posts-img-gallery{
    flex-direction: column;
    margin-right: 30px;
}
.popular-post-img-box{
    background-color: white;
    margin-top: 30px;
}
.popular-posts-img-gallery:last-child{
    margin-right: 0;
    margin-bottom: 50px;
}
.popular-posts-img-description{
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: bold;
}
.popular-posts-img-boxes{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.most-popular-clients{
    background-image: url("../images/img_parallax-bg.jpeg");
    background-attachment: fixed;
    height: 500px;
    background-position: -130px -270px;
}
.popular-clients-header{
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 55px;
}
.blue-line{
    display: block;
    border-top: 3px solid #169cb4;
    width: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
}
.popular-clients{
    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-content:space-evenly;
    align-items: center;
}
/*---------------------*/
.top-rated{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: repeat(2,auto);
}
.grid-item{
    grid-column: 1/6;
}
.top-rated-img{
    justify-self: stretch;
}
/*-----------------------*/
.top-rated-hot-news-header{
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    color: #18b4cf;
    text-transform: uppercase;
    padding-top: 60px;
    padding-bottom: 50px;
}
. news{
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-row-gap: 45px;
    padding-bottom: 40px;
}
.news-item-header{
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color:#353a3d;
}
.news-item-header-center{
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color:#353a3d;
}
.news-item-text{
    padding-right: 25px;
    padding-left: 25px;
    font-size: 14px;
    text-align: right;
    color:#5b6469;
    display: inline-block;
}

/*------------------------------------------------------------*/
.child-table-1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.item1{
    grid-column: 1/3;
}

.first-table{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 35px;
}

.second-table{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-template-rows: repeat(2,auto);
    grid-column-gap: 60px;
    grid-row-gap: 45px;
}
.child-table-2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.item2{
    grid-column: 1/3;
}
.third-table{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 35px;
}

.items{
    background-color: #f9f7f7;
}

.bottom-side{
    background-color: #1d2124;
    height: 70px;
}
.copyright{
    display: grid;
    grid-template-columns: 5fr 1fr;
    height: 70px;
    align-items: center;
}
.copyright-text{
    font-size: 13px;
    color: white;
}
/*******************************************************************/
.links-to-all-sections{
    background-color: #18b4cf;
}

.page-nav{
    height: 70px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-column-gap: 10px;
}
.page-nav>a{
    text-decoration:none;
    align-self: center;
    justify-self: center;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
}
.button-up{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: #89ca62;
    position: fixed;
    right: 20px;
    bottom: 20px;
    outline: none;
}
.hide-show-btn{
    position: relative;
    left: calc(100%/2 - 71px);
    padding: 15px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px;
    border: none;
    background-color: #18b4cf;
    outline: none;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.hide{
    display: none;
}