body{
    color: #373737;
    font-family: sans-serif;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.page-content{
    background-color: #f5f6f7;
}
.menu-item{
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #16a085;
    font-size: 18px;
    padding: 0 35px 0 35px;
}
.menu-strip{
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}
.image{
    width: 100%;
    height: 100%;
}
.header{
    text-align: center;
}
.header-text{
    text-transform: uppercase;
    margin: 0;
    font-size:22px;
    padding: 59px 0 34px 0;
}
.content{
    margin: 0;
    text-align: center;
    padding: 0 108px 0 113px;
    font-size:16px;
}

.copyright{
    margin: 0;
    text-align: right;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-right: 105px;

}
.link-button{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
.link-button-bg{
    text-align: center;
    width: 190px;
    margin: 0 auto;
    background-color: #16a085;
    border-radius: 4px;
    padding: 23px 45px 18px 43px;
    margin-top: 40px;
}
.button{
    padding-bottom: 95px;
}

